.btn{
    border: none;
    background-color: transparent;
    color: $main-color;
    padding: 7px;
    text-transform: uppercase;
    font-weight: 300;
    border-radius:5px;
    &_small{
        font-size: 12px;
    }
    &:hover{
        background-color: $main-color;
        color: $second-color;
    }
}