.btn{
    border: none;
    padding: 7px;
    text-transform: uppercase;
    border-radius:5px;
    font-size: 12px;
    &_small{
        color: $main-color;
        background-color: transparent;
        font-weight: 300;
        &:hover{
            background-color: $main-color;
            color: $second-color;
        }
    }
    &_submit{
        width: 100%;
        background-color: $main-color;
        color: $second-color;
        margin-top: 18px;
        font-weight: 700;
        &:hover{
            background-color: rgba($main-color, 0.8);
        }
    }
}