.ccal-form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    input{
        border: none;
        border-bottom: 1px solid $second-color;
        margin-top: 10px;
        background-color: transparent;
        width: 40%;
        font-size: 36px;
        text-align: center;
        margin: 0 auto;
        &::placeholder{
            font-size: 36px;
            text-align: center;
        }
    }
}