.ccal-form{
    margin-top: 20px;
    background-color: $fourth-color;
    border-radius: 5px;
    padding: 10px;
    min-height: 170px;
    &__inform{
        display: flex;
        margin-top: 10px;
        height: 45px;
        input{
            border: none;
            border-radius: 5px;
            padding: 10px;
            background-color: $third-color;
            text-align: center;
            margin: 0 auto;
            &::placeholder{
                text-align: center;
            }
        }
    }
}