@import './base/variables';

* {
    font-family: 'Open Sans';
}
.container {
    max-width: 950px;
    margin: 0 auto;
}

@import './blocks/buttons';
@import './blocks/header';
@import './blocks/calc';
@import './blocks/forms';